#datamap-container {
  display: grid;
  position: relative;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 15px;
  text-align:center;
}

.data_nest {
  margin: auto;
  padding-left: 15px;
  justify-items: center;
  display: grid;
}

.details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  margin-top: 1em;
  width: 800px;
  height: 90px;
  line-height: 30px;
  padding-left: 40px;
}

.details * {
  margin: 1rem;
}

#losers {
  display:flex;
  font-weight: bold;
  margin-right: 0.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  height: 200px;
}

.data_row span {
  display:flex;
  font-weight: bold;
  margin-right: 0.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

.data_spot {
  width: 220px;
}

span.info, span.label {
  font-size: 13px;
  font-weight: normal;
}

span.label {
  color: blue;
}

span.info {
  color: red;
}

#fixTitle {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.dude {
  text-align: center;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  margin-bottom: -40px;
}

.side_box {
  display: grid;
  align-items: center;
  padding: 18px;
  margin-bottom: -40px;
}

.side_box img {
  max-width: 100px;
  min-width: 30px;
  width: 100%; 
}

.title_box {
  align-self: top;
  min-width: 620px;
}

#state, #losers, #runnerUp, #winner {
  margin: auto;
  margin-bottom: 15px;
}

#modal {
  display: grid;
  margin: auto;
}

#runnerUp, #winner {
  display: grid;
  grid-template-columns: 3fr 8fr;
}

#losers {
  display: grid;
  grid-template-columns: 3fr 9fr;
} 

#losers h3 {
  font-size: 29px;
  margin-left: 30px;
}

#losers ul {
  list-style-type: none;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

#losers li {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 0.5fr;

}

#losers li span {
  margin: 0;
}

